*.aps
.idea
.TMP
.DS_Store
.vcxproj
.vcxproj.filters
.sln
.cache
.vscode
src/logonserver/logon_conf.h
src/shared/git_version.h
src/shared/git_version.hpp
src/shared/Common.hpp
src/shared/AEVersion.hpp
src/world/world_conf.h
src/logonserver/LogonConf.h
src/logonserver/LogonConf.hpp
src/world/WorldConf.h
CMakeLists.txt.user

#config files
configs/*.conf
/cmake-build-debug/
cmake-build-*
/build*/
CMakeFiles
*/Makefile
*/*/Makefile
*/*/*/Makefile
*/*/*/cmake_install.cmake
*/*/cmake_install.cmake
cmake_install.cmake
CMakeCache.txt
Makefile
bin/lib/*.a
*.a
bin/*.so
bin/*

