.idea
.TMP
src/logonserver/logon_conf.h
src/shared/git_version.h
src/shared/Common.hpp
src/world/world_conf.h
src/logonserver/LogonConf.h
src/world/WorldConf.h
CMakeLists.txt.user

#config files
configs/logon.conf
configs/optional.conf
configs/realms.conf
configs/world.conf
/cmake-build-debug/
cmake-build-*
